<section>
   <header>
    <h1>Welcome to Bar</h1>
    <p>What do you want to drink?</p>
   </header>

<section class="menu">
	<ul>
		<li>Whisky</li>
		<li>Beer</li>
		<li>Scotch</li>
	</ul>
</section>
</section>

<section>
	<div class="button-group">
  <label>
    <input type="radio" name="button-group" value="item" checked>
    <span class="button-group-item">Item</span>
  </label>
  <label>
    <input type="radio" name="button-group" value="other-item">
    <span class="button-group-item">Other But Longer Item</span>
  </label>
  <label>
    <input type="radio" name="button-group" value="other-item">
    <span class="button-group-item">Third</span>
  </label>
  <label>
    <input type="radio" name="button-group" value="third">
    <span class="button-group-item">Last Item</span>
  </label>
</div>

</section>

<section class="bitters">
<div class="wrapper">
 <h1 id="main">Bitters example page</h1>
 <p>
          The purpose of this page is to help contributors view and test
          changes to Bitters.
        </p>
      </div>
    </header>
    <main class="container" role="main">
      <h1>Heading 1</h1>
      <h2>Heading 2</h2>
      <h3>Heading 3</h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
      <h6>Heading 6</h6>
      <p>
        Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a>
        adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec
        faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero
        nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent
        mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu
        volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus
        eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem,
        consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue
        quis tellus.
      </p>
      <p>
        Lorem ipsum dolor sit amet, <em>emphasis</em> consectetuer adipiscing
        elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus.
        Nunc iaculis <strong>strong</strong> dui. Nam sit amet sem. Aliquam libero nisi,
        imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis,
        massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim
        diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien
        fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at,
        commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
      </p>
      <h2>Ordered List</h2>
      <ol>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
      </ol>
      <h2>Unordered List</h2>
      <ul>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
      </ul>
      <h2>Definition List</h2>
      <dl>
        <dt>Definition Term Title 1</dt>
        <dd>Definition term description</dd>
        <dt>Definition Term Title 2</dt>
        <dd>Definition term description</dd>
        <dt>Definition Term Title 3</dt>
        <dd>Definition term description</dd>
      </dl>
      <hr>
      <form>
        <label for="text-field">Text Field</label>
        <input id="text-field" type="text">
        <label for="disabled-text-field">Disabled Text Field</label>
        <input id="disabled-text-field" type="text" disabled>
        <label for="text-area">Text Area</label>
        <textarea id="text-area"></textarea>
        <label for="password">Password</label>
        <input id="password" type="password">
        <label for="search">Search</label>
        <input id="search" type="search">
        <label for="file">File Input</label>
        <input id="file" type="file">
        <label for="select">Select</label>
        <select id="select">
          <optgroup label="Group 1">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </optgroup>
          <optgroup label="Group 2">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </optgroup>
        </select>
        <label for="select-multiple">Select Multiple</label>
        <select id="select-multiple" multiple>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <fieldset>
          <legend>Fieldset</legend>
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" placeholder="Bill">
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" placeholder="Murray">
        </fieldset>
        <fieldset>
          <legend>Radio Fieldset</legend>
          <label>
            <input type="radio" name="radio-buttons" value="radio-1"> Radio 1
          </label>
          <label>
            <input type="radio" name="radio-buttons" value="radio-2"> Radio 2
          </label>
          <label>
            <input type="radio" name="radio-buttons" value="radio-3"> Radio 3
          </label>
        </fieldset>
        <fieldset>
          <legend>Checkbox Fieldset</legend>
          <label>
            <input type="checkbox" name="checkboxes" value="check-1" checked> Checkbox 1
          </label>
          <label>
            <input type="checkbox" name="checkboxes" value="check-2"> Checkbox 2
          </label>
          <label>
            <input type="checkbox" name="checkboxes" value="check-3"> Checkbox 3
          </label>
        </fieldset>
        <input type="submit" value="Submit">
        <input type="submit" value="Disabled" disabled>
      </form>
      <hr>
      <table>
        <tr>
          <th>Table Header 1</th>
          <th>Table Header 2</th>
          <th>Table Header 3</th>
        </tr>
        <tr>
          <td>Division 1</td>
          <td>Division 2</td>
          <td>Division 3</td>
        </tr>
        <tr>
          <td>Division 1</td>
          <td>Division 2</td>
          <td>Division 3</td>
        </tr>
        <tr>
          <td>Division 1</td>
          <td>Division 2</td>
          <td>Division 3</td>
        </tr>
      </table>
    </main>	 
</section>

<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo image">
  </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a></li>
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a></li>
      </ul>
    </div>
</footer>
